.visit-index{
	height: 100%;
	width: 100%;
	.visit-content{
		position: relative;
		width: 100%;
		background: url('../../../static/image/mine/bannerImg.png') no-repeat;
		background-size: 100% 100%;
	}
	.visit-erweima{
       position: absolute;
	   left: 50%;
	   top: 405rpx;
	   transform: translateX(-50%);
	   text-align: center;
	   border: 10rpx solid #FFFFFF;
	   background-color: #FFFFFF;
	   border-bottom: 0;
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}
	.btn-list{
		width: 702rpx;
		height: 159rpx;
		background: #ffffff;
		border-radius: 20rpx;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		position: fixed;
		bottom: 20rpx;
		left: 50%;
		transform: translateX(-50%);
		.btn{
			width: 30%;
			text-align: center;
			image{
				width: 69rpx;
				height:69rpx;
			}
			.btn-title{
				font-size: 28rpx;
				font-family: PingFang SC, PingFang SC-Regular;
				font-weight: 600;
				text-align: center;
				color: #292833;
			}
		}
	}
}