.carry-over{
	height: 100%;
	width: 100%;
	background: #f6f7f9;
	min-height: 100vh;
	/deep/ .uni-navbar--border{
		border: 0;
	}
	.carry-title{
		font-size: 26rpx;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		color: #121212;
		margin-bottom: 22rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.carry-addr{
		width: 100%;
		margin-top: 16rpx;
		margin-bottom: 33rpx;
		padding: 0 36rpx;
		box-sizing: border-box;
		font-size: 26rpx;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		color: #444444;
		.tipClass{		
			color: #c2c2c2;
		}
		.addr{
			width: 100%;
			background-color: #FFFFFF;
			border-radius: 10rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20rpx 0rpx;
			word-break: break-all;
			textarea{
				width: 80%;
				height: 80rpx;
				margin-left: 30rpx;
				word-break: break-all;
				white-space: pre-wrap;
				display: block;
			}
			image{
				width: 31rpx;
				height: 34rpx;
				margin-right: 30rpx;
			}
		}
	}
    .carry-count{
		width: 100%;
		padding: 0 36rpx;
		box-sizing: border-box;
		.count{
			width: 100%;
			height: 321rpx;
			background: #ffffff;
			border-radius: 10rpx;
			padding: 26rpx 30rpx;
			box-sizing: border-box;
			color: #444444;
			.input-count{
				width: 100%;
				height: 201rpx;
				border-bottom: 1rpx solid #E7E6ED;
				uni-input{
					font-size: 76rpx;
					font-family: PingFang SC, PingFang SC-Regular;
					font-weight: 400;
					height: 107rpx;
					width: 100%;
					line-height: 107rpx;
				}
				.tipClass-2{
					height: 107rpx;
					width: 100%;
					font-size: 76rpx;
					font-family: PingFang SC, PingFang SC-Regular;
					font-weight: 400;
					color: #ececee;
				}
			}
			.bak{
				font-size: 26rpx;
				font-family: PingFang SC, PingFang SC-Regular;
				font-weight: 400;
				color: #c2c2c2;
				display: flex;
				align-items: center;
				margin-top: 28rpx;
				uni-input{
					font-size: 26rpx;
					font-family: PingFang SC, PingFang SC-Regular;
					font-weight: 400;
					color: #c2c2c2;
					margin-left: 30rpx;
				}
			}
		}
		
	}
	.fee{
		width: calc(100% - 72rpx);
		height: 111rpx;
		margin: 20rpx auto;
		background: #ffffff;
		border-radius: 10rpx;
		padding: 22rpx 30rpx;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		font-size: 30rpx;
		font-family: PingFang SC, PingFang SC-Regular;
		font-weight: 400;
		color: #121212;
		.fee-info{
			margin-left: auto;
			text-align: right;
			.coin{
				
			}
			.rmb{
				
			}
		}
		image{
			width: 13rpx;
			height: 24rpx;
			margin-left: 30rpx;
		}
	}
    .confirm-ok{
		position: fixed;
		bottom: 33rpx;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 102rpx);
		margin: 0 auto;
		height: 88rpx;
		line-height: 88rpx;
		background: #4c72ef;
		border-radius: 14rpx;
		box-shadow: 0px 3rpx 26rpx 0px rgba(0,0,0,0.06);
		 font-size: 32rpx;
		 font-family: PingFang SC, PingFang SC-Bold;
		 font-weight: 700;
		 text-align: center;
		 color: #ffffff;
	}
    .tip-content{
		width: 100%;
		height: 80vh;
        background-color: #FFFFFF;
		border-radius: 20rpx;
		position: relative;
		padding: 60rpx 40rpx 0;
		box-sizing: border-box;
		.close-icon{
			position: absolute;
			top: 0rpx;
			right: 30rpx;
		}
		.tip-title{
			font-size: 30rpx;
		}
		.ok_btn{
			position: absolute;
			bottom: 33rpx;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 102rpx);
			margin: 0 auto;
			height: 88rpx;
			line-height: 88rpx;
			background: #4c72ef;
			border-radius: 14rpx;
			box-shadow: 0px 3rpx 26rpx 0px rgba(0,0,0,0.06);
			 font-size: 32rpx;
			 font-family: PingFang SC, PingFang SC-Bold;
			 font-weight: 700;
			 text-align: center;
			 color: #ffffff;
		}
	}
	.main-content{
		width: 500rpx;
		background-color: #efefef;
		border-radius: 20rpx;
		padding-top: 30rpx;
		.title{
			font-size: 26rpx;
			color: #444444;
			font-weight: bold;
			text-align: center;
		}
		.input-box{
			width: 100%;
			uni-input{
				width: 90%;
				height: 60rpx;
				line-height: 60rpx;
				border-radius: 10rpx;
				padding-left: 20rpx;
				box-sizing: border-box;
				background-color: #FFFFFF;
				margin: 10rpx auto 30rpx;
				font-size: 24rpx;
				color: #8e8e8e;
			}
		}
		.btns{
			width: 100%;
			font-size: 26rpx;
			color: #007AFF;
			font-weight: bold;
			text-align: center;
			border-top: 2rpx solid #F2F2F2;
			display: flex;
			align-items: center;
			.cancell{
				width: 50%;
				line-height: 60rpx;
				border-right: 2rpx solid #F2F2F2;
			}
			.ok{
				width: 50%;
				line-height: 60rpx;
			}
		}
	}
}
