.mine-index{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	/deep/ .uni-navbar--border{
		border: 0;
	}
	.wallet-manage{
		width: 100%;
		height: 100rpx;
		margin: 16rpx 0 22rpx;
		padding: 0 35rpx;
		box-sizing: border-box;
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		font-size: 30rpx;
		font-family: PingFang SC, PingFang SC-Bold;
		font-weight: 700;
		color: #2d3a5b;
		.wallet-icon{
			width: 36rpx;
			height: 32rpx;
			margin-right: 26rpx;
		}
		.right-arr{
			width: 13rpx;
			height: 24rpx;
			margin-left: auto;
		}
	}
	.mine-type{
		width: 100%;
		.type-list{
			width: 100%;
			height: 100rpx;
			padding: 0 35rpx;
			box-sizing: border-box;
			background-color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ebebeb;
			.list-title{
				display: flex;
				align-items: center;
				.list-icon{
					width: 34rpx;
					height: 34rpx;
					margin-right: 26rpx;
				}
				text{
					font-size: 30rpx;
					font-family: PingFang SC, PingFang SC-Bold;
					font-weight: 700;
					text-align: left;
					color: #2d3a5b;
				}
			}
			.right-icon{
				width: 13rpx;
				height: 24rpx;
			}
		}
		
		
	}
	
}