.wallet-index{
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(180deg,#f2f6fa, #ffffff);
	.safe-header{
		width: 100%;
		height: 44px;
		line-height: 44px;
		padding: 0 15px;
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		border-bottom: 5px solid rgba(0,0,0,0.04);
		image{
			width: 18px;
			height: 18px;
		}
		text{
			font-size: 16px;
			font-weight: bolder;
			color: #111111;
			margin-left: 6px;
		}
	}
	.power-bg{
		height: 140px;
		background-image: url('../../../static/image/safe/powerBg.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 0 10px;
		margin-top: 10px;
		.power-info{
			padding: 20px;
			.all-power{
				opacity: 0.7;
				font-size: 13px;
				font-family: PingFang SC, PingFang SC-Regular;
				color: #ffffff;
			}
			.all-count{
				font-size: 22px;
				font-family: Adobe Clean, Adobe Clean-Bold;
				font-weight: 700;
				color: #ffffff;
				margin-top: 3px;
				margin-bottom: 6px;
			}
			.power-btn{
				font-size: 14px;
				color: white;
				opacity: 0.8;
				padding: 1px 10px;
			}
		}
	}
	.wallet-list{
		margin: 10px 15px;
		border-bottom: 1px solid #E7E6ED;
		padding-bottom: 10px;
		.titile{
			font-size: 16px;
			font-family: PingFang SC, PingFang SC-Heavy;
			font-weight: bolder;
			color: #071328;
		}
		.wallet-info{
			display: flex;
			justify-content: space-between;
			.can-use{
				text{
					font-size: 12px;
					font-family: PingFang SC, PingFang SC-Regular;
					font-weight: 400;
					color: #909090;
				}
				.data{
					font-size: 15px;
					font-family: PingFang SC, PingFang SC-Semibold;
					font-weight: 600;
					color: #071328;
					margin-top: -5px;
				}
			}
		}
	}
}